<html>
    <head><title>

    </title></head>
    <style>
        body, html{
            height: 100%;
            margin: 0;
        }
        h1{
            background-color: darkblue;
            color: white;
            font-size: 40px;
        }
        .image{
            height: 350px;
            width: 220px;
            left: 40px;
            top: 90px;
            position: absolute;
        }
        .image1{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 330px;
            position: absolute;
        }
        .image2{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 600px;
            position: absolute;
        }
        .image3{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 860px;
            position: absolute;
        }
        .image4{
            height: 350px;
            width: 220px;
            top: 90px;
            left: 1120px;
            position: absolute;
        }
        
        .drop-content{
            display: none;
            top: 490px;
            left: 40px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop:hover .drop-content{
            display: block;
        }
        .name:hover{
            color: darkblue;
        }
        .drop-content a{
            color: white;
        }
        .drop-content a:hover:not(.header){
            color: blue;
        }

        .drop-content1{
            display: none;
            top: 490px;
            left: 340px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop1:hover .drop-content1{
            display: block;
        }
    
        
        .drop-content1 a{
            color: white;
        }
        .drop-content1 a:hover:not(.header){
            color: blue;
        }

        .drop-content2{
            display: none;
            top: 490px;
            left: 620px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop2:hover .drop-content2{
            display: block;
        }
    
        
        .drop-content2 a{
            color: white;
        }
        .drop-content2 a:hover:not(.header){
            color: blue;
        }

        .drop-content3{
            display: none;
            top: 490px;
            left: 880px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop3:hover .drop-content3{
            display: block;
        }
    
        
        .drop-content3 a{
            color: white;
        }
        .drop-content3 a:hover:not(.header){
            color: blue;
        }

        .drop-content4{
            display: none;
            top: 490px;
            left: 1130px;
            position: absolute;
            color: white;
            font-size: 25px;
        }
        .drop4:hover .drop-content4{
            display: block;
        }
    
        
        .drop-content4 a{
            color: white;
        }
        .drop-content4 a:hover:not(.header){
            color: blue;
        }
      
    </style>
    <body bgcolor="black">
        <h1><center>Horror Movies</center></h1>
        <img src="https://upload.wikimedia.org/wikipedia/en/9/99/Escape_Room_%282019_poster%29.png" class="image">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1f/Conjuring_poster.jpg/220px-Conjuring_poster.jpg" class="image1">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/It_%282017%29_poster.jpg" class="image2">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/90/Annabelle_film_poster.jpg" class="image3">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/2d/Insidious_poster.jpg" class="image4">
        <div class="drop">
        <h2 class="name" style="color: white; cursor: pointer; left: 60px; top: 430px;position: absolute;font-size: 35px;">Escape Room</h2>
        <div class="drop-content">
            <p>Release year : 2019</br>
            Length : 1hr 39min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/horror/escape/room">More Info ></a></p>
        </div>
        </div>

        <div class="drop1">
        <h2 class="name" style="color: white; cursor: pointer; left: 360px; top: 430px;position: absolute;font-size: 35px;">The Conjuring</h2>
        <div class="drop-content1">
            <p>Release year : 2013</br>
            Length : 1hr 52min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/horror/conjuring">More Info ></a></p>
        </div>
        </div>
        <div class="drop2">
        <h2 class="name" style="color: white; cursor: pointer; left: 610px; top: 440px;position: absolute;font-size: 28px;">It</h2>
        <div class="drop-content2">
            <p>Release year : 2017</br>
            Length : 2hr 15min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/horror/it">More Info ></a></p>
        </div>
        </div>
        <div class="drop3">
        <h2 class="name" style="color: white; cursor: pointer; left: 870px; top: 440px;position: absolute;font-size: 30px;">Anabelle</h2>
        <div class="drop-content3">
            <p>Release year : 2014</br>
            Length : 1hr 39min</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/horror/anabelle">More Info ></a></p>
        </div>
        </div>
        <div class="drop4">
            <h2 class="name" style="color: white; cursor: pointer; left: 1120px; top: 440px;position: absolute;font-size: 30px;">Insidious</h2>
            <div class="drop-content4">
                <p>Release year : 2010</br>
                Length : 1hr 43min</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/horror/insidious">More Info ></a></p>
            </div>
            </div>
    </body>
    
</html>